.profile_card_wrapper {
    border-radius: 10px !important;
    position: relative;

    .profile_image_wrapper {
        position: absolute;
        top: -60px;
        left: 0;
        // left: 50%;
        // transform: translateX(-50%);
    }

    .profile_card {
        padding: 20px 20px 20px;

        .profile_social_icon {
            background-color: var(--dark-bg-color, #F2F7FC);
        }

        .profile_contact_info {
            border-radius: 10px;
            background-color: var(--dark-bg-color, #F2F7FC);
            padding: 20px;
        }
    }
}